.vscode
.DS_Store
**/__pycache__
videos/
datasets/
*.pyc
source/Vision/models/ssd_resnet152_v1_fpn_1024x1024_coco17_tpu-8/mscoco_label_map.pbtxt
source/Vision/models/ssd_resnet152_v1_fpn_1024x1024_coco17_tpu-8/pipeline.config
source/Vision/models/ssd_resnet152_v1_fpn_1024x1024_coco17_tpu-8/checkpoint/checkpoint
source/Vision/models/ssd_resnet152_v1_fpn_1024x1024_coco17_tpu-8/checkpoint/ckpt-0.data-00000-of-00001
source/Vision/models/ssd_resnet152_v1_fpn_1024x1024_coco17_tpu-8/checkpoint/ckpt-0.index
source/Vision/models/ssd_resnet152_v1_fpn_1024x1024_coco17_tpu-8/saved_model/saved_model.pb
source/Vision/models/ssd_resnet152_v1_fpn_1024x1024_coco17_tpu-8/saved_model/variables/variables.data-00000-of-00001
source/Vision/models/ssd_resnet152_v1_fpn_1024x1024_coco17_tpu-8/saved_model/variables/variables.index
source/Vision/models/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/mscoco_label_map.pbtxt
source/Vision/models/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/pipeline.config
source/Vision/models/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/checkpoint/checkpoint
source/Vision/models/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/checkpoint/ckpt-0.data-00000-of-00001
source/Vision/models/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/checkpoint/ckpt-0.index
source/Vision/models/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/saved_model/saved_model.pb
source/Vision/models/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/saved_model/variables/variables.data-00000-of-00001
source/Vision/models/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/saved_model/variables/variables.index
